:root {
    --primary-color: #3597f3;
    --secondry-color: #7721e9;
    --white: #ffffff;
    --black: #020202;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@400;500;600;700&display=swap');

body {
    font-family: 'Murecho', sans-serif;
    background-color: var(--black);
}

.container {
    width: 1200px;
    margin: 0 auto;


}

.banner {
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.banner-left {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.banner-right {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.banner-title {
    color: var(--white);
    font-weight: 700;
    font-size: 45px;
    position: relative;
    color: transparent;
}

.banner-title::before {
    content: "Programming Hero";
    top: 0;
    left: 0;
    position: absolute;
    color: var(--primary-color);
    animation: typing 3.1s linear infinite;
}

.banner-text {
    color: var(--white);
    line-height: 2;
    margin: 20px 0;
    /* text-align: justify; */


}

@keyframes typing {
    0% {
        content: "P|";
    }

    4% {
        content: "Pr|";
    }

    8% {
        content: "Pro|";
    }

    12% {
        content: "Prog|";
    }

    16% {
        content: "Progr|";
    }

    20% {
        content: "Progra|";
    }

    24% {
        content: "Program|";
    }

    28% {
        content: "Programm|";
    }

    32% {
        content: "Programmi|";
    }

    36% {
        content: "Programmin|";
    }

    40% {
        content: "Programming|";
    }

    44% {
        content: 'Programming |';
    }

    48% {
        content: 'Programming h|';
    }

    52% {
        content: 'Programming he|';
    }

    56% {
        content: 'Programming her|';
    }

    60% {
        content: 'Programming hero|';
    }

    64%,
    83% {
        content: 'Programming hero|';
    }

    84% {
        content: 'Programming her|';
    }

    85% {
        content: 'Programming he|';
    }

    86% {
        content: 'Programming h|';
    }

    87% {
        content: 'Programming |';
    }

    88% {
        content: 'Programming|';
    }

    89% {
        content: 'Programmin|';
    }

    90% {
        content: 'Programmi|';
    }

    91% {
        content: 'Programm|';
    }

    92% {
        content: 'Program|';
    }

    93% {
        content: 'Progra|';
    }

    94% {
        content: 'Progr|';
    }

    95% {
        content: 'Prog|';
    }

    96% {
        content: 'Pro|';
    }

    97% {
        content: 'Pr|';
    }

    98% {
        content: 'P|';
    }

    99% {
        content: '|';
    }

    100% {
        content: '|';
    }

}